html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f4f5f5;
  color: #71777c;
}

h1 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 16px;
}

#__nuxt,
#__layout,
.wrapper,
.el-container {
  width: 100%;
  height: 100%;
}

.el-container {
  overflow: auto;
}

.el-header {
  border-bottom: 1px solid #f1f1f1;
  background-color: #fff;
}

.el-main {
  padding: 0;
  margin: 0;
}
