@import "/assets/css/config/common.scss";

html,
body {
  width: 100%;
  // height: 100%;
  margin: 0;
  padding: 0;
  background-color: $bg-color-gray;
  color: $article-fontcolor;
  overflow: auto;
}

h1,
h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 16px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: $article-fontcolor;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
} /*a标签鼠标经过mouseover时的样式*/
a:link {
  text-decoration: none;
  cursor: pointer;
} /*a标签未访问时的样式*/
a:visited {
  text-decoration: overline;
  cursor: pointer;
} /*a标签访问过之后样式*/
a:active {
  text-decoration: overline;
  cursor: pointer;
} /*a标签鼠标按下mousedown时的样式*/

#__nuxt,
#__layout,
.wrapper,
.el-container {
  width: 100%;
  height: 100%;
}

.el-header {
  border-bottom: 1px solid $border-color;
  background-color: $bg-color-white;
}

.el-main {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.to-top {
  @include setTopComment(30px, 80px, 40px, 40px);
}

.to-comment {
  @include setTopComment(30px, 30px, 40px, 40px);
}
