.writing-wrapper {
  width: 100%;
  height: 100%;

  .header-wrapper {
    display: flex;
    width: 100%;
    height: 65px;
    box-sizing: border-box;
    padding: 0 30px;
    border-bottom: 1px solid $border-color;

    .header-wrapper-right {
      display: flex;
      align-items: center;

      .draft {
        color: $primary-color;
        border: 1px solid $primary-color;
        margin-right: 10px;
      }

      .avatar {
        margin-left: 30px;
      }
    }

    .tit-input {
      height: 64px;
      border: none;

      .el-input__inner {
        height: 100%;
        border: none;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }

  .writing-wrapper-body {
    width: 100%;
    height: 639px;

    .writing-wrapper-body-editor {
      width: 100%;
      height: 100%;
      box-shadow: none !important;
    }
  }
}
