@import "/assets/css/config/common.scss";

.article-wrapper {
  display: flex;
  width: 960px;
  margin: 20px auto;

  .article-wrapper-content {
    width: 700px;

    .content-innerBox {
      width: 100%;
      padding: 24px;
      margin-bottom: 20px;
      box-sizing: border-box;
      background-color: $bg-color-white;

      .innerBox-author {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        align-items: center;

        .innerBox-left {
          display: flex;

          .avatar {
            height: 40px;
            width: 40px;
            margin-right: 10px;
            border-radius: 50%;
            background-color: #ccc;
          }

          .author-info {
            .author-name {
              font-size: $fontSize-normal;
              color: $article-title-color;
              font-weight: 700;
            }

            .author-info-detail {
              display: flex;
              line-height: 24px;
              font-size: $fontSize-middle;
              color: $font-color-gray;
            }
          }
        }

        .pay-attention {
          color: $primary-color;
          border: 1px solid $primary-color;
        }
      }

      .theme-pic {
        width: 100%;
        margin-bottom: 24px;
      }

      .main-title-name {
        width: 100%;
        font-size: 30px;
        line-height: 45px;
        font-weight: 700;
        color: $article-title-color2;
        padding: 24px 0;
      }

      .markdown-body {
        font-size: $fontSize-bigger;
        color: $article-fontcolor;
        line-height: 28px;
        padding-bottom: 24px;
        border-bottom: 1px solid $border-color;
        background-image: linear-gradient(
            90deg,
            rgba(159, 219, 252, 0.15) 3%,
            transparent 0
          ),
          linear-gradient(1turn, rgba(159, 219, 252, 0.15) 3%, transparent 0);
        background-size: 20px 20px;
        background-position: 50%;
        overflow: hidden;
      }

      .article-author-wrapper {
        width: 100%;
        padding-bottom: 24px;
        border-bottom: 1px solid $border-color;

        .article-tag-type {
          display: flex;
          width: 100%;
          padding: 24px 0;
          box-sizing: border-box;
          color: $article-title-color2;
          font-size: $fontSize-large;

          .type {
            display: flex;

            .type-name {
              margin-right: 8px;
              padding: 0 6px;
              color: #ff502c;
              font-size: $fontSize-middle;
              background-color: #fafafa;
              line-height: 26px;
              text-align: center;
            }
          }

          .tag {
            display: flex;

            .tag-name {
              margin-right: 8px;
              padding: 0 6px;
              color: #ff502c;
              font-size: $fontSize-middle;
              background-color: #fafafa;
              line-height: 26px;
              text-align: center;
            }
          }
        }

        .author-bottom-info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          padding: 15px 17px;
          box-sizing: border-box;
          background-color: #f4f5f5;
          border-radius: 4px;

          .author-bottom-info-left {
            display: flex;

            .avatar {
              width: 40px;
              height: 40px;
              margin-right: 10px;
              border-radius: 50%;
              background-color: #ccc;
            }

            .info-left-author-detail {
              .author-detail-info {
                display: flex;

                .author-detail-info-name {
                  font-size: $fontSize-bigger;
                  color: $article-title-color2;
                  margin-right: 10px;
                  font-weight: 700;
                }

                .author-detail-info-job {
                  font-size: $fontSize-middle;
                  color: $article-fontcolor;
                }
              }

              .author-detail-info-desc {
                display: flex;
                font-size: $fontSize-middle;
                color: $article-fontcolor;
                line-height: 30px;
              }
            }
          }

          .pay-attention {
            color: $primary-color;
            border: 1px solid $primary-color;
          }
        }
      }

      .comment-body-wrapper {
        width: 100%;
        box-sizing: border-box;
        padding: 12px 20px;

        .comment-body-innerBox {
          width: 100%;

          .make-comments {
            width: 100%;
            padding: 12px 16px;
            box-sizing: border-box;
            background-color: #fafbfc;

            .first-line {
              display: flex;

              .avatar {
                width: 32px;
                height: 32px;
                margin-right: 10px;
                border-radius: 50%;
              }
            }

            .second-line {
              padding-left: 42px;
              box-sizing: border-box;
              display: flex;
              align-items: center;
              margin-top: 10px;
              justify-content: space-between;
              color: $primary-color;
              font-size: $fontSize-middle;
            }
          }

          .comments-main-body {
            width: 100%;
            box-sizing: border-box;
            padding: 20px 0 20px 42px;

            .comments-main-body-innerBox {
              display: flex;
              width: 100%;

              .avatar {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                margin-right: 10px;
              }

              .comments-main-body-innerBox-right {
                flex: 1;
                line-height: 24px;

                .user-line {
                  display: flex;

                  .user-line-name {
                    margin-right: 15px;
                    color: $article-title-color;
                    font-size: $fontSize-large;
                  }

                  .user-line-sign {
                    width: 100px;
                    @include ellipsis();
                    font-size: $fontSize-middle;
                    color: $font-color-gray;
                  }
                }

                .comments-line {
                  width: 100%;
                  padding: 8px 0;
                  font-size: $fontSize-middle;
                  line-height: 24px;
                  color: $article-fontcolor;
                }

                .bottom-line {
                  display: flex;
                  margin-top: 5px;
                  margin-bottom: 10px;
                  justify-content: space-between;
                  color: $font-color-gray;
                  font-size: $fontSize-middle;

                  .bottom-line-right {
                    .icon-liaotian {
                      margin-left: 15px;
                    }

                    i {
                      color: $font-color-gray;
                      font-size: $fontSize-middle;
                    }
                  }
                }

                .comments-reply-body {
                  width: 100%;
                  background-color: $bg-color-gray2;

                  .comments-reply-body-line {
                    display: flex;
                    width: 100%;
                    box-sizing: border-box;
                    padding: 14px 18px 0;

                    .avatar {
                      width: 32px;
                      height: 32px;
                      margin-right: 10px;
                      border-radius: 50%;
                    }

                    .comments-reply-body-line-right {
                      flex: 1;
                      border-bottom: 1px solid $border-color;

                      .reply-line-author-info {
                        display: flex;
                        line-height: 24px;

                        .username {
                          margin-right: 10px;
                          color: $article-title-color;
                          font-size: $fontSize-large;
                        }

                        .identity {
                          margin-right: 10px;
                          color: $article-title-color;
                          font-size: $fontSize-large;
                        }

                        .sign {
                          width: 100px;
                          @include ellipsis();
                          font-size: $fontSize-middle;
                          color: $font-color-gray;
                        }
                      }

                      .reply-line-comments-body {
                        width: 100%;
                        padding: 8px 0;
                        font-size: $fontSize-middle;
                        line-height: 24px;
                        color: $article-fontcolor;
                      }

                      .reply-line-bottom {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 15px;
                        color: $font-color-gray;
                        font-size: $fontSize-middle;

                        .bottom-right {
                          .icon-liaotian {
                            margin-left: 15px;
                          }

                          i {
                            color: $font-color-gray;
                            font-size: $fontSize-middle;
                          }
                        }
                      }
                    }

                    &:nth-last-child(1) {
                      .comments-reply-body-line-right {
                        border: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .more-article-list {
      width: 100%;
      box-sizing: border-box;
      background-color: $bg-color-white;

      .more-article-list-header {
        box-sizing: border-box;
        padding: 16px 24px;
        font-weight: 700;
        font-size: $fontSize-normal;
        border-bottom: 1px solid $border-color;
        color: $article-title-color;
      }

      .list-wrapper {
        width: 100%;
        box-sizing: border-box;
        padding: 0 24px 24px;

        .list-item {
          width: 100%;
          border-bottom: 1px solid $border-color;
          font-size: 13px;
          cursor: pointer;

          &:nth-last-child(1) {
            border: none;
          }

          .item-info {
            padding: 12px 0;
            display: flex;

            .author-name,
            .time {
              pointer-events: none;
              border-right: 1px solid $border-color;
            }

            .author-name {
              padding-right: 8px;
            }

            .time {
              pointer-events: none;
              padding: 0 8px;
            }

            .tag-type {
              pointer-events: none;
              padding-left: 8px;
            }
          }

          .item-content {
            display: flex;

            .content-left {
              flex: 1;
              width: calc(100% - 120px);
              padding-right: 15px;
              box-sizing: border-box;

              .title {
                color: #1d2129;
                font-weight: 700;
                width: 100%;
                @include ellipsis();
              }

              .desc {
                padding: 12px 0;
              }

              .title,
              .desc {
                @include ellipsis();
              }

              .operate {
                display: flex;
                margin-bottom: 12px;

                .operate-item {
                  margin-right: 12px;
                }

                i {
                  pointer-events: none;
                  font-size: 13px;
                }
              }
            }

            .content-right {
              width: auto;
              height: auto;
              max-width: 120px;
              max-height: 80px;
              padding: 0;
            }
          }
        }
      }
    }
  }

  .article-wrapper-aside {
    width: 240px;
    margin-left: 20px;

    .aside-author {
      width: 100%;
      margin-bottom: 20px;
      background-color: $bg-color-white;

      .aside-author-title {
        width: 100%;
        padding: 12px 16px;
        box-sizing: border-box;
        font-size: $fontSize-large;
        color: $article-title-color;
        border-bottom: 1px solid $border-color;
      }

      .aside-author-body {
        width: 100%;
        padding: 16px;
        box-sizing: border-box;

        .aside-author-body-top {
          display: flex;

          .avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
            background-color: #ccc;
          }

          .author-body-top-info {
            flex: 1;

            .top-info-name {
              color: $article-title-color;
              font-weight: 700;
              font-size: $fontSize-bigger;
            }

            .top-info-sign {
              margin-top: 5px;
              color: $font-color-gray;
              font-size: $fontSize-large;
              line-height: 24px;
            }
          }
        }

        .aside-author-body-bottom {
          width: 100%;
          margin-top: 12px;

          .aside-author-body-bottom-item {
            width: 100%;
            margin-top: 3px;

            i {
              width: 25px;
              height: 25px;
              margin-right: 10px;
              border-radius: 50%;
              color: #7bb9ff;
              background-color: #e1efff;
              line-height: 25px;
              text-align: center;
              font-size: $fontSize-large;
            }

            .text {
              color: $article-title-color;
              font-size: $fontSize-large;
              line-height: 24px;
            }
          }
        }
      }
    }

    .qr-code-wrapper {
      display: flex;
      box-sizing: border-box;
      margin-bottom: 20px;
      @include setBgColorAndPadding(100%, 12px);

      .qr-code {
        @include setBgImg(50px, 50px, "@/assets/img/download_qrcode.png");
        margin-right: 15px;
      }

      .qr-code-desc {
        flex: 1;

        .qr-code-desc-title {
          color: $info-fontcolor;
        }

        .qr-code-desc-word {
          color: $article-fontcolor;
          font-size: $fontSize-small;
          line-height: 30px;
        }
      }
    }

    .home-page-poster {
      @include setBgImg(100%, 200px, "@/assets/img/pic2.png");
      margin-bottom: 20px;
    }

    .more-article {
      width: 100%;
      background-color: $bg-color-white;

      .more-article-header {
        width: 100%;
        padding: 12px 16px;
        box-sizing: border-box;
        border-bottom: 1px solid $border-color;
      }

      .more-article-content {
        width: 100%;
        padding: 0 16px;
        box-sizing: border-box;

        .more-article-content-item {
          width: 100%;
          padding: 10px 0;
          box-sizing: border-box;
          color: $article-fontcolor;
          font-size: $fontSize-large;
          line-height: 24px;

          .content-item-title {
            width: 100%;
          }

          .content-item-line {
            margin-top: 4px;

            i {
              margin-right: 20px;
              color: $article-fontcolor;
              font-size: $fontSize-middle;
            }
          }
        }
      }
    }
  }

  .fixed-left-box {
    position: fixed;
    // left: 200px;
    // top: 160px;
    display: flex;
    flex-direction: column;

    i {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      text-align: center;
      line-height: 36px;
      margin-top: 10px;
      background: $bg-color-white;
      cursor: pointer;
      color: #b2bac2;
    }
  }
}
