@import "/assets/css/config/common.scss";

.circle-wrapper {
  display: flex;
  width: 960px;
  margin: 20px auto;

  .circle-menu {
    position: fixed;
    left: 280px;
    top: 80px;
    @include setBgColorAndPadding(112px, 16px 12px);
    box-sizing: border-box;
    font-size: $fontSize-large;
    color: $font-color-gray;
    max-height: 390px;

    .cutting-line {
      width: 100%;
      height: 1px;
      background-color: #eeefef;
    }

    .circle-menu-item {
      width: 100%;
      line-height: 30px;
      text-align: center;
      border-radius: 3px;
      margin-top: 10px;
      cursor: pointer;

      &:hover {
        background-color: $bg-color-hover;
        color: $primary-color;
      }

      &:nth-child(1) {
        margin: 0;
      }
    }

    .circle-menu-item-attention {
      margin-bottom: 10px;
    }
  }

  .circle-content {
    flex: 1;
    padding: 0 15px 0 127px;
    box-sizing: border-box;

    .circle-content-innerBox {
      width: 100%;

      .innerBox-publish {
        box-sizing: border-box;
        @include setBgColorAndPadding(100%, 16px 20px 0);
        margin-bottom: 10px;
        box-sizing: border-box;

        .publish-operateLine {
          display: flex;
          padding: 10px 0;
          justify-content: space-between;
          align-items: center;

          .operateLine-left {
            display: flex;

            .operateLine-left-item {
              font-size: $fontSize-middle;
            }

            .operateLine-left-item-topic {
              position: relative;
              margin-left: 8px;
              color: #00c58e;

              .topic-btn {
                font-size: $fontSize-middle;
                color: #00c58e;
              }

              .topic-panel {
                width: 310px;
                height: 410px;
                position: absolute;
                left: -38px;
                top: 46px;
                background-color: #fff;
                box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.16);

                &::before {
                  content: "";
                  position: absolute;
                  margin-left: -6px;
                  top: -7px;
                  left: 60px;
                  width: 12px;
                  height: 12px;
                  background-color: #fff;
                  border: 1px solid #ddd;
                  border-right: none;
                  border-bottom: none;
                  transform: rotate(45deg);
                }

                .topic-panel-header {
                  line-height: 45px;
                  font-size: 16px;
                  color: $article-title-color;
                  text-align: center;
                  border-bottom: 1px solid $border-color;
                  font-weight: 500;
                }

                .topic-panel-innerBox {
                  width: 100%;
                  height: 365px;
                  overflow: auto;
                  padding: 20px;
                  box-sizing: border-box;

                  .topic-panel-innerBox-item {
                    display: flex;
                    justify-content: space-between;
                    line-height: 45px;
                    border-bottom: 1px solid #f4f4f4;
                    cursor: pointer;

                    &:hover {
                      background-color: #f8f8f8;
                    }

                    .panel-innerBox-item-name {
                      color: #2e3135;
                      font-size: 15px;
                    }

                    .panel-innerBox-item-num {
                      font-size: 13px;
                      color: #8a9aa9;
                    }
                  }
                }
              }
            }
          }
        }

        .publish-photo {
          padding-bottom: 20px;
        }
      }

      .circle-content-list-box {
        .circle-content-list-item {
          width: 100%;
          margin-bottom: 10px;
          background-color: $bg-color-white;

          .list-item-top {
            @include setBgColorAndPadding(100%, 16px 20px 0);
            box-sizing: border-box;

            .list-item-info {
              display: flex;
              width: 100%;
              justify-content: space-between;
              align-items: center;

              .list-item-info-left {
                display: flex;

                .list-item-info-left-avatar {
                  width: 45px;
                  height: 45px;
                  margin-right: 10px;
                  border-radius: 45px;
                }

                .list-item-info-left-info {
                  .list-item-info-left-info-title {
                    font-weight: 700;
                    font-size: $fontSize-bigger;
                    color: $article-title-color;
                    line-height: 20px;
                  }

                  .list-item-info-left-info-details {
                    display: flex;
                    font-size: $fontSize-middle;
                    line-height: 24px;
                    color: $font-color-gray;
                  }
                }
              }

              .list-item-info-follow {
                // border: 1px solid $primary-color;
                color: $primary-color;

                .not-attention {
                  color: #909090;
                }
              }
            }

            .list-item-desc {
              padding-left: 55px;
              padding-bottom: 8px;
              width: calc(100% - 55px);
              line-height: 24px;
              font-size: $fontSize-large;
              color: $article-title-color2;

              .list-item-desc-theme {
                font-size: 14px;
                color: $primary-color;
              }
            }
          }

          .list-item-photo {
            display: flex;
            margin: 5px 0 20px;
            padding: 0 40px;
            box-sizing: border-box;

            .list-item-photo-t {
              width: 140px;
              margin-right: 20px;
            }
          }

          .list-item-operate {
            display: flex;
            border-top: 1px solid $border-color;

            .list-item-operate-t {
              flex: 1;
              padding: 3px;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;

              .iconfont {
                font-size: $fontSize-middle;
                line-height: 24px;
                cursor: pointer;
              }
            }

            .list-item-operate-t:nth-child(1),
            .list-item-operate-t:nth-child(2) {
              box-sizing: border-box;
              border-right: 1px solid $border-color;
            }
          }

          .comment-box {
            border-top: 1px solid $border-color;
            position: relative;
            padding: 16px 0 0;
            box-sizing: border-box;

            .comment-box-innerBox {
              padding: 0 20px 16px;
              box-sizing: border-box;
            }

            &::before {
              content: "";
              position: absolute;
              margin: auto;
              top: -6px;
              left: 0;
              right: 0;
              width: 10px;
              height: 10px;
              transform: rotate(-135deg);
              border-right: 1px solid #ebebeb;
              border-bottom: 1px solid #ebebeb;
              background: #fff;
            }

            .make-comments {
              padding: 16px;
              background-color: #fafbfc;

              .first-line,
              .second-line {
                display: flex;
                justify-content: space-between;
                align-items: center;
              }

              .first-line {
                .avatar {
                  width: 32px;
                  height: 32px;
                  border-radius: 50%;
                  margin-right: 12px;
                }
              }

              .second-line {
                margin-top: 10px;
                padding-left: 42px;
                color: #00c58e;
                font-size: 13px;
              }
            }

            .comments-main-body {
              padding-left: 42px;
              // margin-top: 14px;
              box-sizing: border-box;

              .comments-main-body-innerBox {
                display: flex;
                margin-bottom: 16px;

                .avatar {
                  width: 32px;
                  height: 32px;
                  margin-right: 10px;
                  border-radius: 50%;
                }

                .main-body-innerBox-right {
                  flex: 1;
                  font-size: 13px;
                  color: #505050;

                  .body-innerBox-right-firstline {
                    display: flex;

                    .right-firstline-nickname {
                      margin-right: 10px;
                    }

                    .identity {
                      margin-right: 6px;
                    }

                    .right-firstline-job {
                      color: #8a9aa9;
                    }
                  }

                  .body-innerBox-right-content {
                    line-height: 22px;
                    padding: 6px 0;

                    .reply {
                      color: $primary-color;
                    }
                  }

                  .body-innerBox-right-bottomline {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;
                    font-size: 12px;
                    color: #8a93a0;

                    .right-bottomline-reply {
                      .icon-pinglun {
                        padding-left: 44px;
                      }

                      .iconfont {
                        font-size: 12px;
                        color: #8a93a0;
                        cursor: pointer;
                      }
                    }
                  }

                  .body-innerBox-reply {
                    display: flex;
                    padding: 12px;
                    box-sizing: border-box;
                    background-color: #fafbfc;

                    &:nth-last-child(1) {
                      .main-body-innerBox-right {
                        border: none;
                      }
                    }

                    .avatar {
                      width: 32px;
                      height: 32px;
                      margin-right: 10px;
                      border-radius: 50%;
                    }

                    .main-body-innerBox-right {
                      flex: 1;
                      font-size: 13px;
                      color: #505050;
                      border-bottom: 1px solid $border-color;

                      .body-innerBox-right-firstline {
                        display: flex;

                        .right-firstline-nickname {
                          margin-right: 10px;
                        }

                        .right-firstline-job {
                          color: #8a9aa9;
                        }
                      }

                      .body-innerBox-right-content {
                        line-height: 22px;
                        padding: 6px 0;
                      }

                      .body-innerBox-right-bottomline {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 10px;
                        font-size: 12px;
                        color: #8a93a0;

                        .right-bottomline-reply {
                          .icon-pinglun {
                            padding-left: 44px;
                          }

                          .iconfont {
                            font-size: 12px;
                            color: #8a93a0;
                            cursor: pointer;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }

            .comment-detail-page {
              line-height: 40px;
              text-align: center;
              color: #406599;
              border-top: 1px solid #ebebeb;
              cursor: pointer;
              font-size: 13px;
            }
          }
        }
      }
    }
  }

  .circle-info {
    width: 248px;

    .circle-info-authorInfo {
      width: 100%;
      margin-bottom: 10px;
      background-color: $bg-color-white;

      .authorInfo-top {
        display: flex;
        width: 100%;
        padding: 16px;
        box-sizing: border-box;
        border-bottom: 1px solid $border-color;
        cursor: pointer;

        .authorInfo-top-avatar {
          width: 62px;
          height: 62px;
          border-radius: 50%;
          margin-right: 10px;
        }

        .authorInfo-top-info {
          flex: 1;

          .authorInfo-top-info-name {
            margin-top: 8px;
            color: $article-title-color2;
            font-size: $fontSize-bigger;
            font-weight: 700;
            line-height: 24px;
          }

          .authorInfo-top-info-job {
            color: $font-color-gray;
            font-size: $fontSize-middle;
            line-height: 24px;
          }
        }
      }

      .authorInfo-bottom {
        display: flex;
        padding: 10px 0;

        .authorInfo-bottom-item {
          flex: 1;
          font-size: $fontSize-middle;
          color: $font-color-gray;
          line-height: 20px;
          text-align: center;

          .bottom-item-box {
            box-sizing: border-box;
            border-right: 1px solid $border-color;
            cursor: pointer;

            .authorInfo-bottom-item-num {
              font-weight: 700;
              color: $article-title-color2;
            }
          }

          &:nth-last-child(1) .bottom-item-box {
            border: none;
          }
        }
      }
    }

    .circle-info-great {
      width: 100%;
      margin-bottom: 10px;
      background-color: $bg-color-white;

      .great-title {
        width: 100%;
        padding: 13px 16px;
        box-sizing: border-box;
        font-weight: 700;
        color: $article-title-color2;
        font-size: $fontSize-bigger;
        border-bottom: 1px solid $border-color;
      }

      .great-wrapper {
        width: 100%;
        padding: 0 16px;
        box-sizing: border-box;

        .great-wrapper-item {
          display: flex;
          width: 100%;
          padding: 12px 0;
          box-sizing: border-box;
          border-bottom: 1px solid $border-color;
          cursor: pointer;

          &:nth-last-child(1) {
            border: none;
          }

          .content-pic {
            width: 68px;
            height: 68px;
            border-radius: 4px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          }

          .content-left {
            flex: 1;
            padding-right: 14px;
            box-sizing: border-box;

            .content-left-operate {
              display: flex;
              margin-top: 14px;
              font-size: $fontSize-small;
              color: $font-color-gray;
            }

            .content-left-title {
              font-size: $fontSize-middle;
              color: $article-title-color2;
              line-height: 16px;
              // 两行或多行文本溢出显示省略号
              // word-break: break-all;
              // text-overflow: ellipsis;
              // display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
              // -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
              // -webkit-line-clamp: 2; /** 显示的行数 **/
              // overflow: hidden; /** 隐藏超出的内容 **/
              @include ellipsis2();
            }
          }
        }
      }
    }

    .circle-poster {
      @include setBgImg(100%, 200px, "@/assets/img/circle-page-poster.jpg");
      cursor: pointer;
    }
  }
}
