@import "/assets/css/config/common.scss";

.circle-detail-wrapper {
  width: 100%;
  height: 100%;

  .circle-detail-wrapper-innerBox {
    width: 960px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    padding-top: 20px;
    box-sizing: border-box;
    justify-content: space-between;

    .wrapper-innerBox-content {
      width: 640px;

      .list-item-top {
        @include setBgColorAndPadding(100%, 16px 20px 0);
        box-sizing: border-box;
        background-color: #fff;
        padding-bottom: 20px;
        box-sizing: border-box;

        .list-item-info {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;

          .list-item-info-left {
            display: flex;

            .list-item-info-left-avatar {
              width: 45px;
              height: 45px;
              margin-right: 10px;
              border-radius: 45px;
            }

            .list-item-info-left-info {
              .list-item-info-left-info-title {
                font-weight: 700;
                font-size: $fontSize-bigger;
                color: $article-title-color;
                line-height: 20px;
              }

              .list-item-info-left-info-details {
                display: flex;
                font-size: $fontSize-middle;
                line-height: 24px;
                color: $font-color-gray;
              }
            }
          }

          .list-item-info-follow {
            // border: 1px solid $primary-color;
            color: $primary-color;

            .not-attention {
              color: #909090;
            }
          }
        }

        .list-item-desc {
          padding-left: 55px;
          padding-bottom: 8px;
          width: calc(100% - 55px);
          line-height: 24px;
          font-size: $fontSize-large;
          color: $article-title-color2;

          .list-item-desc-theme {
            color: $primary-color;
          }
        }

        .list-item-photo {
          display: flex;
          margin: 5px 0 0;
          padding: 0 40px;
          box-sizing: border-box;

          .list-item-photo-t {
            width: 140px;
            margin-right: 20px;
          }
        }
      }

      .list-item-operate {
        display: flex;
        background-color: #fff;
        border-top: 1px solid $border-color;

        .list-item-operate-t {
          flex: 1;
          padding: 3px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          .iconfont {
            font-size: $fontSize-middle;
            line-height: 24px;
            cursor: pointer;
          }
        }

        .list-item-operate-t:nth-child(1),
        .list-item-operate-t:nth-child(2) {
          box-sizing: border-box;
          border-right: 1px solid $border-color;
        }
      }

      .comment-box {
        border-top: 1px solid $border-color;
        position: relative;
        padding: 16px 20px;
        box-sizing: border-box;
        background-color: #fff;

        &::before {
          content: "";
          position: absolute;
          margin: auto;
          top: -6px;
          left: 0;
          right: 0;
          width: 10px;
          height: 10px;
          transform: rotate(-135deg);
          border-right: 1px solid #ebebeb;
          border-bottom: 1px solid #ebebeb;
          background: #fff;
        }

        .make-comments {
          padding: 16px;
          background-color: #fafbfc;

          .first-line,
          .second-line {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }

          .first-line {
            .avatar {
              width: 32px;
              height: 32px;
              border-radius: 50%;
              margin-right: 12px;
            }
          }

          .second-line {
            margin-top: 10px;
            padding-left: 42px;
            color: #00c58e;
            font-size: 13px;
          }
        }

        .comments-main-body {
          padding-left: 42px;
          margin-top: 14px;
          box-sizing: border-box;

          .comments-main-body-innerBox {
            display: flex;
            margin-bottom: 16px;

            .avatar {
              width: 32px;
              height: 32px;
              margin-right: 10px;
              border-radius: 50%;
            }

            .main-body-innerBox-right {
              flex: 1;
              font-size: 13px;
              color: #505050;

              .body-innerBox-right-firstline {
                display: flex;

                .right-firstline-nickname {
                  margin-right: 10px;
                }

                .identity {
                  margin-right: 6px;
                }

                .right-firstline-job {
                  color: #8a9aa9;
                }
              }

              .body-innerBox-right-content {
                line-height: 22px;
                padding: 6px 0;

                .reply {
                  color: $primary-color;
                }
              }

              .body-innerBox-right-bottomline {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                font-size: 12px;
                color: #8a93a0;

                .right-bottomline-reply {
                  .icon-pinglun {
                    padding-left: 44px;
                  }

                  .iconfont {
                    font-size: 12px;
                    color: #8a93a0;
                    cursor: pointer;
                  }
                }
              }

              .body-innerBox-reply {
                display: flex;
                padding: 12px;
                box-sizing: border-box;
                background-color: #fafbfc;

                &:nth-last-child(1) {
                  .main-body-innerBox-right {
                    border: none;
                  }
                }

                .avatar {
                  width: 32px;
                  height: 32px;
                  margin-right: 10px;
                  border-radius: 50%;
                }

                .main-body-innerBox-right {
                  flex: 1;
                  font-size: 13px;
                  color: #505050;
                  border-bottom: 1px solid $border-color;

                  .body-innerBox-right-firstline {
                    display: flex;

                    .right-firstline-nickname {
                      margin-right: 10px;
                    }

                    .right-firstline-job {
                      color: #8a9aa9;
                    }
                  }

                  .body-innerBox-right-content {
                    line-height: 22px;
                    padding: 6px 0;
                  }

                  .body-innerBox-right-bottomline {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;
                    font-size: 12px;
                    color: #8a93a0;

                    .right-bottomline-reply {
                      .icon-pinglun {
                        padding-left: 44px;
                      }

                      .iconfont {
                        font-size: 12px;
                        color: #8a93a0;
                        cursor: pointer;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .wrapper-innerBox-great {
      width: 300px;

      .circle-info-great {
        width: 300px;
        margin-bottom: 10px;
        background-color: $bg-color-white;
        transition: 0.3s;

        .great-title {
          width: 100%;
          padding: 13px 16px;
          box-sizing: border-box;
          font-weight: 700;
          color: $article-title-color2;
          font-size: $fontSize-bigger;
          border-bottom: 1px solid $border-color;
        }

        .great-wrapper {
          width: 100%;
          // padding: 0 16px;
          box-sizing: border-box;

          .great-wrapper-item {
            display: flex;
            width: 100%;
            padding: 12px 16px;
            box-sizing: border-box;
            border-bottom: 1px solid $border-color;
            cursor: pointer;

            &:hover {
              background-color: #fafafa;
            }

            &:nth-last-child(1) {
              border: none;
            }

            .content-pic {
              width: 68px;
              height: 68px;
              border-radius: 4px;
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
            }

            .content-left {
              flex: 1;
              padding-right: 14px;
              box-sizing: border-box;

              .content-left-operate {
                display: flex;
                margin-top: 14px;
                font-size: $fontSize-small;
                color: $font-color-gray;
              }

              .content-left-title {
                font-size: $fontSize-middle;
                color: $article-title-color2;
                line-height: 16px;
                // 两行或多行文本溢出显示省略号
                // word-break: break-all;
                // text-overflow: ellipsis;
                // display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
                // -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
                // -webkit-line-clamp: 2; /** 显示的行数 **/
                // overflow: hidden; /** 隐藏超出的内容 **/
                @include ellipsis2();
              }
            }
          }
        }
      }
    }
  }
}
