@import "/assets/css/config/common.scss";

.home-wrapper {
  width: 100%;
  height: 100%;

  .tag-box {
    width: 100%;
    height: 46px;
    margin-bottom: 10px;
    background-color: $bg-color-white;

    .tag-innerBox {
      width: 980px;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;

      .left-box {
        display: flex;

        .tag-item {
          margin-right: 25px;
          cursor: pointer;

          &:hover {
            color: $primary-color !important;
          }
        }
      }

      .btn {
        cursor: pointer;
      }

      .btn:hover {
        color: $primary-color;
      }
    }
  }

  .content {
    width: 100%;

    .inner-content-box {
      display: flex;
      width: 980px;
      margin: 0 auto;
    }

    .content-left {
      width: 700px;
      background-color: $bg-color-white;

      .head {
        display: flex;
        width: 100%;
        padding: 10px;
        font-size: 14px;
        border-bottom: 1px solid $border-color;
        box-sizing: border-box;

        .head-item {
          padding: 0 16px;
          cursor: pointer;
          border-right: 1px solid $border-color;

          &:hover {
            color: $primary-color;
          }

          &:nth-last-child(1) {
            border: none;
          }
        }
      }

      .content-body {
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;

        .body {
          width: 100%;

          .list-wrapper {
            width: 100%;

            .list-item {
              width: 100%;
              border-bottom: 1px solid $border-color;
              font-size: 13px;
              cursor: pointer;

              .iconfont {
                color: #96909c;
              }

              &:nth-last-child(1) {
                border: none;
              }

              .item-info {
                padding: 12px 0;
                display: flex;

                .author-name,
                .time {
                  pointer-events: none;
                  border-right: 1px solid $border-color;
                }

                .author-name {
                  padding-right: 8px;
                }

                .time {
                  pointer-events: none;
                  padding: 0 8px;
                }

                .tag-type {
                  pointer-events: none;
                  padding-left: 8px;
                }
              }

              .item-content {
                display: flex;

                .content-left {
                  flex: 1;
                  width: calc(100% - 120px);
                  padding-right: 15px;
                  box-sizing: border-box;

                  .title {
                    color: #1d2129;
                    font-weight: 700;
                  }

                  .desc {
                    padding: 12px 0;
                  }

                  .title,
                  .desc {
                    @include ellipsis();
                  }

                  .operate {
                    display: flex;
                    margin-bottom: 12px;

                    .operate-item {
                      margin-right: 12px;
                      color: #4e5969;
                    }

                    i {
                      font-size: 13px;
                    }
                  }
                }

                .content-right {
                  width: auto;
                  height: auto;
                  max-width: 120px;
                  max-height: 80px;
                  padding: 0;
                }
              }
            }
          }
        }
      }
    }

    .content-right {
      width: 260px;
      padding: 0 10px;

      .author-list {
        width: 260px;
        margin-bottom: 20px;
        background-color: $bg-color-white;
        transition: all .3s;

        .author-list-item {
          padding: 12px 16px;
          color: #333;
          font-size: 14px;
          cursor: pointer;
        }

        .author-list-content {
          padding: 0;

          .author-item {
            padding: 12px 16px;
            display: flex;

            &:hover {
              background-color: #fafafa;
            }

            .avatar {
              width: 46px;
              height: 46px;
              border-radius: 50%;
              margin-right: 10px;
            }

            .author-info {
              .author-desc {
                font-size: 13px;
                color: #909090;
                line-height: 20px;
                @include ellipsis();
              }
            }
          }
        }

        .author-list-title,
        .author-list-content {
          border-bottom: 1px solid $border-color;
        }

        .author-list-footer {
          text-align: center;
          color: $primary-color;
        }
      }

      .home-page-poster {
        transition: all .3s;
        @include setBgImg(260px, 200px, "@/assets/img/home-page-poster.jpg");
        margin-bottom: 20px;
      }

      .qr-code-wrapper {
        display: flex;
        box-sizing: border-box;
        margin-bottom: 20px;
        @include setBgColorAndPadding(260px, 12px);
        transition: all .3s;

        .qr-code {
          @include setBgImg(50px, 50px, "@/assets/img/download_qrcode.png");
          margin-right: 15px;
        }

        .qr-code-desc {
          flex: 1;

          .qr-code-desc-title {
            color: $info-fontcolor;
          }

          .qr-code-desc-word {
            color: $article-fontcolor;
            font-size: $fontSize-small;
            line-height: 30px;
          }
        }
      }

      .footer {
        width: 100%;
        padding: 0 5px;
        box-sizing: border-box;
        font-size: $fontSize-middle;
        color: $font-color-gray;
        line-height: 22px;

        a {
          color: $font-color-gray;
        }
      }
    }
  }
}
