@import "/assets/css/config/common.scss";

.news-detail-page-wrapper {
  display: flex;
  width: 960px;
  margin: 20px auto;

  .article-wrapper-content {
    width: 700px;

    .content-innerBox {
      width: 100%;
      padding: 24px;
      margin-bottom: 20px;
      box-sizing: border-box;
      background-color: $bg-color-white;

      .theme-pic {
        width: 100%;
        margin-bottom: 24px;
      }

      .main-title-name {
        width: 100%;
        font-size: 30px;
        line-height: 45px;
        font-weight: 700;
        color: $article-title-color2;
        padding: 18px 0;
      }

      .news-article-desc {
        display: flex;
        font-size: $fontSize-large;
        color: $font-color-gray;
        margin-bottom: 15px;

        .news-article-desc-item {
          padding: 0 10px;
          border-right: 1px solid $border-color;

          &:nth-child(1) {
            padding-left: 0;
            color: $article-title-color;
          }

          &:nth-last-child(1) {
            border-right: none;
          }
        }
      }

      .markdown-body {
        font-size: $fontSize-bigger;
        color: $article-fontcolor;
        line-height: 28px;
        padding-bottom: 24px;
      }

      .comment-body-wrapper {
        width: 100%;
        box-sizing: border-box;
        padding: 12px 20px;

        .comment-body-innerBox {
          width: 100%;

          .make-comments {
            width: 100%;
            padding: 12px 16px;
            box-sizing: border-box;
            background-color: #fafbfc;

            .first-line {
              display: flex;

              .avatar {
                width: 32px;
                height: 32px;
                margin-right: 10px;
                border-radius: 50%;
              }
            }

            .second-line {
              padding-left: 42px;
              box-sizing: border-box;
              display: flex;
              align-items: center;
              margin-top: 10px;
              justify-content: space-between;
              color: $primary-color;
              font-size: $fontSize-middle;
            }
          }

          .comments-main-body {
            width: 100%;
            box-sizing: border-box;
            padding: 20px 0 20px 42px;

            .comments-main-body-innerBox {
              display: flex;
              width: 100%;

              .avatar {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                margin-right: 10px;
              }

              .comments-main-body-innerBox-right {
                flex: 1;
                line-height: 24px;

                .user-line {
                  display: flex;

                  .user-line-name {
                    margin-right: 15px;
                    color: $article-title-color;
                    font-size: $fontSize-large;
                  }

                  .user-line-sign {
                    width: 100px;
                    @include ellipsis();
                    font-size: $fontSize-middle;
                    color: $font-color-gray;
                  }
                }

                .comments-line {
                  width: 100%;
                  padding: 8px 0;
                  font-size: $fontSize-middle;
                  line-height: 24px;
                  color: $article-fontcolor;
                }

                .bottom-line {
                  display: flex;
                  margin-top: 5px;
                  margin-bottom: 10px;
                  justify-content: space-between;
                  color: $font-color-gray;
                  font-size: $fontSize-middle;

                  .bottom-line-right {
                    .icon-liaotian {
                      margin-left: 15px;
                    }

                    i {
                      color: $font-color-gray;
                      font-size: $fontSize-middle;
                    }
                  }
                }

                .comments-reply-body {
                  width: 100%;
                  background-color: $bg-color-gray2;

                  .comments-reply-body-line {
                    display: flex;
                    width: 100%;
                    box-sizing: border-box;
                    padding: 14px 18px 0;

                    .avatar {
                      width: 32px;
                      height: 32px;
                      margin-right: 10px;
                      border-radius: 50%;
                    }

                    .comments-reply-body-line-right {
                      flex: 1;
                      border-bottom: 1px solid $border-color;

                      .reply-line-author-info {
                        display: flex;
                        line-height: 24px;

                        .username {
                          margin-right: 10px;
                          color: $article-title-color;
                          font-size: $fontSize-large;
                        }

                        .identity {
                          margin-right: 10px;
                          color: $article-title-color;
                          font-size: $fontSize-large;
                        }

                        .sign {
                          width: 100px;
                          @include ellipsis();
                          font-size: $fontSize-middle;
                          color: $font-color-gray;
                        }
                      }

                      .reply-line-comments-body {
                        width: 100%;
                        padding: 8px 0;
                        font-size: $fontSize-middle;
                        line-height: 24px;
                        color: $article-fontcolor;
                      }

                      .reply-line-bottom {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 15px;
                        color: $font-color-gray;
                        font-size: $fontSize-middle;

                        .bottom-right {
                          .icon-liaotian {
                            margin-left: 15px;
                          }

                          i {
                            color: $font-color-gray;
                            font-size: $fontSize-middle;
                          }
                        }
                      }
                    }

                    &:nth-last-child(1) {
                      .comments-reply-body-line-right {
                        border: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .more-article-list {
      width: 100%;
      box-sizing: border-box;
      background-color: $bg-color-white;

      .more-article-list-header {
        box-sizing: border-box;
        padding: 16px 24px;
        font-weight: 700;
        font-size: $fontSize-normal;
        border-bottom: 1px solid $border-color;
        color: $article-title-color;
      }

      .list-wrapper {
        width: 100%;
        box-sizing: border-box;
        padding: 0 0 24px;

        .list-item {
          width: 100%;
          padding: 0 24px;
          box-sizing: border-box;
          border-bottom: 1px solid $border-color;
          font-size: 13px;
          cursor: pointer;

          &:hover {
            background-color: #fafafa;
          }

          &:nth-last-child(1) {
            border: none;
          }

          .item-content {
            display: flex;

            .content-left {
              flex: 1;
              width: calc(100% - 120px);
              padding-right: 15px;
              box-sizing: border-box;

              .title {
                width: 100%;
                box-sizing: border-box;
                padding: 15px 0 0;
                @include ellipsis();
                color: #1d2129;
                font-weight: 700;
              }

              .bottom-line {
                display: flex;
                box-sizing: border-box;
                padding: 10px 0;
                font-size: $fontSize-middle;
                color: $font-color-gray;

                .name {
                  font-weight: 700;
                }

                .bottom-line-item {
                  padding: 0 10px;
                  border-right: 1px solid $border-color;

                  &:nth-child(1) {
                    padding-left: 0;
                  }

                  &:nth-last-child(1) {
                    border: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .article-wrapper-aside {
    width: 240px;
    margin-left: 20px;

    .send-news {
      width: 240px;
      padding: 16px 20px;
      margin-bottom: 10px;
      box-sizing: border-box;
      background-color: $bg-color-white;
      transition: all .2s;

      .sen-news-t {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;

        .send-news-title {
          font-size: $fontSize-normal;
          font-weight: 700;
          color: $article-title-color;
        }
      }

      .send-news-desc {
        width: 100%;
        line-height: 20px;
        color: $article-fontcolor;
        font-size: $fontSize-middle;
      }
    }

    .new-news,
    .hot-news {
      width: 240px;
      background-color: $bg-color-white;
      margin-bottom: 10px;
      transition: all .2s;

      .more-article-header {
        color: $article-title-color2;
        width: 100%;
        padding: 12px 16px;
        box-sizing: border-box;
        font-weight: 700;
        border-bottom: 1px solid $border-color;
      }

      .more-article-content {
        width: 100%;
        box-sizing: border-box;

        .more-article-content-item {
          width: 100%;
          padding: 12px 16px;
          box-sizing: border-box;
          color: $article-fontcolor;
          font-size: $fontSize-large;
          line-height: 24px;
          cursor: pointer;

          &:hover {
            background-color: #fafafa;
          }

          .content-item-title {
            width: 100%;
          }

          .content-item-line {
            margin-top: 4px;

            i {
              margin-right: 20px;
              color: #b2bac2;
              font-size: $fontSize-middle;
            }
          }
        }
      }
    }
  }

  .fixed-left-box {
    position: fixed;
    left: 200px;
    top: 160px;
    display: flex;
    flex-direction: column;

    .icon-item {
      margin-top: 20px;
      position: relative;
    }

    .icon-item-badge::after {
      content: attr(badge);
      position: absolute;
      top: 0;
      left: 75%;
      padding: 2px 5px;
      font-size: 12px;
      text-align: center;
      line-height: 1;
      white-space: nowrap;
      color: #fff;
      background-color: #b2bac2;
      border-radius: 8px;
      transform-origin: left top;
      transform: scale(0.75);
    }

    .icon-item i {
      display: inline-block;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      text-align: center;
      line-height: 36px;
      background: $bg-color-white;
      cursor: pointer;
      color: #b2bac2;
    }
  }
}
