@import "/assets/css/config/common.scss";

.news-wrapper {
  .news-type-line {
    width: 100%;
    height: 46px;
    margin-bottom: 20px;
    background-color: $bg-color-white;

    .news-type-line-box {
      width: 960px;
      height: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      font-size: $fontSize-large;

      .type-item {
        padding-right: 20px;
        color: $font-color-gray;
        cursor: pointer;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  .news-content-box {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .list-box {
      width: 700px;
      background-color: $bg-color-white;

      .list-box-header {
        display: flex;
        box-sizing: border-box;
        padding: 16px 12px;
        border-bottom: 1px solid $border-color;

        .list-box-header-item {
          color: $font-color-gray;
          font-size: $fontSize-large;
          cursor: pointer;

          &:hover {
            color: $primary-color;
          }

          &:nth-child(1) {
            padding-left: 10px;
            padding-right: 15px;
            border-right: 1px solid $border-color;
          }

          &:nth-child(2) {
            padding-left: 15px;
          }
        }
      }

      ul.infinite-list {
        width: 100%;

        .infinite-list-item {
          display: flex;
          width: 100%;
          box-sizing: border-box;
          padding: 16px 20px;
          border-bottom: 1px solid $border-color;
          cursor: pointer;

          &:nth-last-child(1) {
            border: none;
          }

          .list-item-pic {
            width: 162px;
            height: 114px;
          }

          .list-item-content {
            flex: 1;
            padding-right: 20px;

            .item-content-title {
              font-size: $fontSize-normal;
              font-weight: 700;
              margin-bottom: 12px;
              color: $article-title-color;
              @include ellipsis();
            }

            .item-content-desc {
              margin-bottom: 20px;
              font-size: $fontSize-middle;
              color: $article-fontcolor;
              line-height: 22px;
              @include ellipsis2();
            }

            .item-content-line {
              display: flex;
              font-size: $fontSize-small;
              color: $font-color-gray;

              .line-author {
                padding-right: 10px;
                cursor: pointer;
              }

              .like {
                padding-left: 10px;
                cursor: pointer;
              }

              .line-time {
                padding-left: 10px;
                padding-right: 10px;
                border-left: 1px solid $border-color;
                border-right: 1px solid $border-color;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    .aside-box {
      width: 240px;

      .send-news {
        width: 100%;
        padding: 16px 20px;
        margin-bottom: 10px;
        box-sizing: border-box;
        background-color: $bg-color-white;

        .sen-news-t {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 5px;

          .send-news-title {
            font-size: $fontSize-normal;
            font-weight: 700;
            color: $article-title-color;
          }
        }

        .send-news-desc {
          width: 100%;
          line-height: 20px;
          color: $article-fontcolor;
          font-size: $fontSize-middle;
        }
      }

      .qr-code-wrapper {
        display: flex;
        box-sizing: border-box;
        margin-bottom: 20px;
        @include setBgColorAndPadding(100%, 12px);

        .qr-code {
          @include setBgImg(50px, 50px, "@/assets/img/download_qrcode.png");
          margin-right: 15px;
        }

        .qr-code-desc {
          flex: 1;

          .qr-code-desc-title {
            color: $info-fontcolor;
          }

          .qr-code-desc-word {
            color: $article-fontcolor;
            font-size: $fontSize-small;
            line-height: 30px;
          }
        }
      }

      .footer {
        width: 100%;
        padding: 0 5px;
        box-sizing: border-box;
        font-size: $fontSize-middle;
        color: $font-color-gray;
        line-height: 22px;

        a {
          color: $font-color-gray;
        }
      }
    }
  }
}
