// 设置element主题色
@import "./config/element-variables.scss";

// 基本样式
@import "./base/index.scss";

// 页面头部tag组件样式
@import "./components/headerType.scss";

// 头部组件样式
@import "./components/header.scss";

// 登录组件样式
@import "./components/login.scss";

// footer组件样式
@import "./components/footer.scss";

// 写文章页发布文章组件样式
@import "./components/publishPanel.scss";

// 首页样式
@import "./pages/home.scss";

// 互动页样式
@import "./pages/circle.scss";

// 资讯页样式
@import "./pages/news.scss";

// 写文章页样式
@import "./pages/writing.scss";

// 文章内容页样式
@import "./pages/article.scss";

// 资讯内容页样式
@import "./pages/news-detail.scss";

// 作者排行页样式
@import "./pages/author-list.scss";

// 动态详情页页样式
@import "./pages/circle-detail.scss";

// 用户页样式
@import "./pages/user.scss";

// 编辑用户信息页
@import "./pages/edit-user.scss"
