// 设置element主题色
@import "./config/element-variables.scss";

// 基本样式
@import "./base/index.scss";

// 头部组件样式
@import "./header/index.scss";

// 首页样式
@import "./index/index.scss";

// 互动页样式
@import "./circle/index.scss";

// 资讯页样式
@import "./news/index.scss";
