@import "/assets/css/config/common.scss";

.footer {
    width: 100%;
    padding: 0 5px;
    box-sizing: border-box;
    font-size: $fontSize-middle;
    color: $font-color-gray;
    line-height: 22px;

    a {
      color: $font-color-gray;
    }
  }