// 主题色
$primary-color: #00c58e;
// 边框色
$border-color: #e5e6eb;
// 文章字体色
$article-fontcolor: #4e5969;
// 文章标题色
$article-title-color: #1d2129;
// 文章标题色2
$article-title-color2: #17181a;
// 作者名字等字体颜色
$info-fontcolor: #333333;
// 字体颜色-灰
$font-color-gray: #909090;

// 背景色白
$bg-color-white: #fff;
// 背景色灰
$bg-color-gray: #f4f5f5;
// 背景色灰2
$bg-color-gray2: #fafbfc;
// hover背景色
$bg-color-hover: #f7f7f7;

// 正常字体
$fontSize-normal: 16px;
// 更大字体
$fontSize-bigger: 15px;
// 大字体
$fontSize-large: 14px;
// 中等字体
$fontSize-middle: 13px;
// 小字体
$fontSize-small: 12px;

// 文本信息显示不下省略号代替
@mixin ellipsis() {
  text-overflow: ellipsis; /*省略号 */
  white-space: nowrap; /*溢出时不换行 */
  overflow: hidden; /*溢出时隐藏 */
}

// 文本信息两行显示不下省略号代替
@mixin ellipsis2() {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
  -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
  -webkit-line-clamp: 2; /** 显示的行数 **/
  overflow: hidden; /** 隐藏超出的内容 **/
}

// 文本信息显示不下3行省略号代替
@mixin ellipsis3() {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
  -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
  -webkit-line-clamp: 3; /** 显示的行数 **/
  overflow: hidden; /** 隐藏超出的内容 **/
}

// 设置背景图片
@mixin setBgImg($width, $height, $picUrl) {
  width: $width;
  height: $height;
  background-image: url($picUrl);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

// 设置背景图片
@mixin setBgImg2($width, $height) {
  width: $width;
  height: $height;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

// 设置背景色及padding值
@mixin setBgColorAndPadding($width, $padding) {
  width: $width;
  background-color: #fff;
  padding: $padding;
}

// 设置右下角小组件
@mixin setTopComment($right, $bottom, $width, $height) {
  position: fixed;
  right: $right;
  bottom: $bottom;
  width: $width;
  background-color: #fff;
  height: $height;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

// 设置标题
@mixin setTitle(
  $fontSize: 14px,
  $color: $article-title-color,
  $fontWeight: 400
) {
  font-size: $fontSize;
  color: $color;
  font-weight: $fontWeight;
}

// 画三角
@mixin triangle($width: 12px, $height: 12px, $left: 60px, $top: -7px) {
  content: "";
  position: absolute;
  margin-left: -6px;
  top: $top;
  left: $left;
  width: $width;
  height: $height;
  background-color: #fff;
  border: 1px solid #ddd;
  border-right: none;
  border-bottom: none;
  transform: rotate(45deg);
}
