@import "/assets/css/config/common.scss";

.home-wrapper {
  width: 100%;
  height: 100%;

  .tag-box {
    width: 100%;
    height: 46px;
    margin-bottom: 10px;
    background-color: $bg-color-white;

    .tag-innerBox {
      width: 960px;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;

      .left-box {
        display: flex;

        .tag-item {
          margin-right: 25px;
          cursor: pointer;

          &:hover {
            color: $primary-color;
          }
        }
      }

      .btn {
        cursor: pointer;
      }

      .btn:hover {
        color: #00c58e;
      }
    }
  }

  .content {
    width: 100%;

    .inner-content-box {
      display: flex;
      width: 960px;
      margin: 0 auto;
    }

    .content-left {
      width: 700px;
      background-color: $bg-color-white;

      .head {
        display: flex;
        width: 100%;
        padding: 10px;
        font-size: 14px;
        border-bottom: 1px solid $border-color;
        box-sizing: border-box;

        .head-item {
          padding: 0 16px;
          cursor: pointer;
          border-right: 1px solid $border-color;

          &:hover {
            color: #00c58e;
          }

          &:nth-last-child(1) {
            border: none;
          }
        }
      }

      .content-body {
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;

        .body {
          width: 100%;

          .list-wrapper {
            width: 100%;

            .list-item {
              width: 100%;
              border-bottom: 1px solid $border-color;
              font-size: 13px;

              &:nth-last-child(1) {
                border: none;
              }

              .item-info {
                padding: 12px 0;
                display: flex;

                .author-name,
                .time {
                  border-right: 1px solid $border-color;
                }

                .author-name {
                  padding-right: 8px;
                }

                .time {
                  padding: 0 8px;
                }

                .tag-type {
                  padding-left: 8px;
                }
              }

              .item-content {
                display: flex;

                .content-left {
                  flex: 1;
                  width: calc(100% - 120px);
                  padding-right: 15px;
                  box-sizing: border-box;

                  .title {
                    color: #1d2129;
                    font-weight: 700;
                  }

                  .desc {
                    padding: 12px 0;
                  }

                  .title,
                  .desc {
                    text-overflow: ellipsis; /*省略号 */
                    white-space: nowrap; /*溢出时不换行 */
                    overflow: hidden; /*溢出时隐藏 */
                  }

                  .operate {
                    display: flex;
                    margin-bottom: 12px;

                    .operate-item {
                      margin-right: 12px;
                    }

                    i {
                      font-size: 13px;
                    }
                  }
                }

                .content-right {
                  width: auto;
                  height: auto;
                  max-width: 120px;
                  max-height: 80px;
                  padding: 0;
                }
              }
            }
          }
        }
      }
    }

    .content-right {
      width: 260px;
      padding: 0 10px;

      .author-list {
        width: 100%;
        margin-bottom: 20px;
        background-color: $bg-color-white;

        .author-list-item {
          padding: 12px 16px;
          color: #333;
          font-size: 14px;
        }

        .author-list-content {
          padding: 0;

          .author-item {
            padding: 12px 16px;
            display: flex;

            .avatar {
              width: 46px;
              height: 46px;
              border-radius: 50%;
              margin-right: 4px;
            }

            .author-info {
              .author-desc {
                font-size: 13px;
                color: #909090;
                line-height: 20px;
                text-overflow: ellipsis; /*省略号 */
                white-space: nowrap; /*溢出时不换行 */
                overflow: hidden; /*溢出时隐藏 */
              }
            }
          }
        }

        .author-list-title,
        .author-list-content {
          border-bottom: 1px solid $border-color;
        }

        .author-list-footer {
          text-align: center;
          color: $primary-color;
        }
      }

      .home-page-poster {
        width: 100%;
        height: 200px;
        background-image: url("@/assets/img/home-page-poster.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
  }
}
